<!--
  -  Copyright © iMi digital GmbH, based on work by MageSpecialist
  -  See LICENSE for license details.
  -->

<!-- ko if: (getIsVisible()) -->
<div data-bind="{
    attr: {
        'id': getFriendlyCaptchaId() + '-wrapper'
    },
    'afterRender': renderFriendlyCaptcha()
}">
    <div class="g-friendly-captcha"></div>
    <!-- ko if: (!getIsInvisibleRecaptcha()) -->
    <div class="field">
        <div class="control">
            <input type="checkbox"
                   value=""
                   class="required-captcha checkbox"
                   name="recaptcha-validate-"
                   data-validate="{required:true}"
            />
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->
