<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <imi_friendly_captcha>
            <general>
                <eu_endpoint>0</eu_endpoint>
            </general>
            <frontend>
                <enabled>0</enabled>
                <enabled_login>1</enabled_login>
                <enabled_forgot>1</enabled_forgot>
                <enabled_contact>1</enabled_contact>
                <enabled_create>1</enabled_create>
                <enabled_review>1</enabled_review>
<!--                <enabled_newsletter>1</enabled_newsletter>-->
                <enabled_sendfriend>1</enabled_sendfriend>
            </frontend>
        </imi_friendly_captcha>
    </default>
</config>
