<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="IMI\FriendlyCaptcha\Api\ValidateInterface" type="IMI\FriendlyCaptcha\Model\Validate"/>

    <!-- Default HTTP response provider -->
    <preference for="IMI\FriendlyCaptcha\Model\Provider\SolutionProviderInterface"
                type="IMI\FriendlyCaptcha\Model\Provider\Response\DefaultSolutionProvider"/>

    <preference for="IMI\FriendlyCaptcha\Model\IsCheckRequiredInterface"
                type="IMI\FriendlyCaptcha\Model\IsCheckRequired"/>

    <!-- Set sensitive information -->
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="imi_friendly_captcha/general/apikey" xsi:type="string">1</item>
            </argument>
            <argument name="environment" xsi:type="array">
                <item name="imi_friendly_captcha/general/sitekey" xsi:type="string">1</item>
                <item name="imi_friendly_captcha/general/apikey" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
</config>
