<?xml version="1.0"?>
<!--
  -  Copyright © iMi digital GmbH, based on work by MageSpecialist
  -  See LICENSE for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="controller_action_predispatch_customer_account_loginPost">
        <observer name="imi_friendly_captcha_account_loginPost" instance="IMI\FriendlyCaptcha\Observer\Frontend\LoginObserver" />
    </event>
<!--    <event name="controller_action_predispatch_customer_ajax_login">-->
<!--        <observer name="imi_friendly_captcha_ajax_login" instance="IMI\FriendlyCaptcha\Observer\Frontend\AjaxLoginObserver" />-->
<!--    </event>-->
    <event name="controller_action_predispatch_customer_account_createpost">
        <observer name="imi_friendly_captcha_account_createpost" instance="IMI\FriendlyCaptcha\Observer\Frontend\CreateUserObserver" />
    </event>
    <event name="controller_action_predispatch_customer_account_forgotpasswordpost">
        <observer name="imi_friendly_captcha_account_forgotpasswordpost" instance="IMI\FriendlyCaptcha\Observer\Frontend\ForgotPasswordObserver"/>
    </event>
    <event name="controller_action_predispatch_contact_index_post">
        <observer name="imi_friendly_captcha_contact_index_post" instance="IMI\FriendlyCaptcha\Observer\Frontend\ContactFormObserver" />
    </event>
    <event name="controller_action_predispatch_review_product_post">
        <observer name="imi_friendly_captcha_review_product_post" instance="IMI\FriendlyCaptcha\Observer\Frontend\ReviewFormObserver" />
    </event>
<!--    <event name="controller_action_predispatch_newsletter_subscriber_new">-->
<!--        <observer name="imi_friendly_captcha_newsletter_subscriber_new" instance="IMI\FriendlyCaptcha\Observer\Frontend\NewsletterObserver" />-->
<!--    </event>-->
    <event name="controller_action_predispatch_sendfriend_product_sendmail">
        <observer name="imi_friendly_captcha_sendfriend_product_sendmail" instance="IMI\FriendlyCaptcha\Observer\Frontend\SendFriendObserver" />
    </event>
</config>
