<?xml version="1.0"?>
<!--
  -  Copyright © iMi digital GmbH, based on work by MageSpecialist
  -  See LICENSE for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="security" translate="label" sortOrder="200">
            <label>Security</label>
        </tab>

        <section id="imi_friendly_captcha" translate="label" type="text" sortOrder="510" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Friendly Captcha</label>
            <tab>security</tab>
            <resource>IMI_FriendlyCaptcha::config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="sitekey" translate="label" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Friendly Captcha Site Key</label>
                </field>
                <field id="apikey" translate="label" type="password" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Friendly Captcha API Key</label>
                </field>
                <field id="eu_endpoint" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Use EU API Endpoint</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="frontend" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Frontend</label>
                <field id="enabled" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enabled_login" translate="label" type="select" sortOrder="200" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Use in login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="enabled_forgot" translate="label" type="select" sortOrder="210" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Use in Forgot password</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="enabled_contact" translate="label" type="select" sortOrder="220" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Use in Contact</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="enabled_create" translate="label" type="select" sortOrder="230" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Use in Create user</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
<!--                <field id="enabled_review" translate="label" type="select" sortOrder="240" showInDefault="1"-->
<!--                       showInWebsite="1" showInStore="0" canRestore="1">-->
<!--                    <label>Use in Review</label>-->
<!--                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
<!--                    <depends>-->
<!--                        <field id="enabled">1</field>-->
<!--                    </depends>-->
<!--                </field>-->
<!--		        <field id="enabled_newsletter" translate="label" type="select" sortOrder="250" showInDefault="1"-->
<!--                       showInWebsite="1" showInStore="0" canRestore="1">-->
<!--                    <label>Use Friendly Captcha in newsletter</label>-->
<!--                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
<!--                    <depends>-->
<!--                        <field id="enabled">1</field>-->
<!--                    </depends>-->
<!--                </field>-->
                <field id="enabled_sendfriend" translate="label" type="select" sortOrder="260" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Use in Send To Friend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
